
.head {
    
    background-color: #266974;
    height:50%;
    width: 100%;
    padding: 0px;
    position: relative;
    z-index: 999;
    
}

body {
    background-image: url(img/Background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.menu {
    visibility: visible;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .menu--links {
        background-color: #266974;
        padding: 10px; 
        display: flex;
        justify-content: space-evenly;
        .menu--logo {      
            border-radius: 50%;
            height: 150px;
        }
        li {
            width: 150px;       
            display: flex;
            align-items: center;
            justify-content: center;
            a {          
                text-decoration: none;
                color: #fff100;
                font-size: 25px;
                font-family: "Open-Sans", Arial, sans-serif;
            }
        }
    } 
}




.main {
    margin-left: auto;
    margin-right: auto;
     
    .background-block-1 {
        background-color: #b44d4f;
        width: 100%;
        position: relative;
        .background-image-1 {
            width: 50%;
            border: 2px solid yellow;
            text-align: center;
            align-self: flex-end;
            img {
                width: 65%;
                display: inline-block;
                border: 2px solid green;
            }    
        }
        .logo {
            width: 100%;
            border: 2px solid deepskyblue;
            position: absolute;
            .logo-font {
                width: 350px;
                height: 143px;
                margin-left: auto;
                margin-right: auto;
                padding: 30px 0;
                background-image: url(img/method-draw-image.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: bottom;

                .ahoodie {
                    font-family: "selimaregular", Arial, sans-serif;
                    font-size: 70px;
                    color: #fff977;
                    text-align: center;
                    transform: rotate(-4deg);
                    height: 60px;
                }
                .net {
                    position: absolute;
                    font-family: "Open-Sans", Arial, sans-serif;
                    font-size: 30px;
                    color: #fff977;
                    padding-left: 45% ;
                    position: relative;
                    }
                }
        }    
    }  
    .background-block-2 {   
        background-color: #fff577;  
        width: 100%;
        position: relative; 
        padding: 10px 0;
        .content {
            
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: space-evenly;
            height: auto;
            width: auto;
            .column {
                align-self: center;
            }
        }
        .photo {
            background-color: #1c4c55;
            border: 10px solid #266974;
            margin: 10px 0;
            height: 300px;
            width: 300px;
        }
    }
} 
    @media screen and (max-width: 1250px) {   
        .content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            width: 95%;
            padding: 0;
            height: auto;
            width: auto;
            .column1 {
                order: -10;
            }
            .colimn2 {
                order: 2;
            }
            .column3 {
                order: 3;
            }
            .column {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-self: center;
                justify-content: center;
                align-items: center;
                .photo {
                    
                    width: 90%;
                    height: auto;
                    img {
                        width: 100%
                    }
                }
                .photo-large {
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid white ;
                    img {
                        width: 100%;
                    }
                }
            }
            
        }    
    }    
  