.head {
  background-color: #266974;
  height: 50%;
  width: 100%;
  padding: 0px;
  position: relative;
  z-index: 999;
}

body {
  background-image: url(img/Background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu {
  visibility: visible;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.menu .menu--links {
  background-color: #266974;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.menu .menu--links .menu--logo {
  border-radius: 50%;
  height: 150px;
}
.menu .menu--links li {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu--links li a {
  text-decoration: none;
  color: #fff100;
  font-size: 25px;
  font-family: "Open-Sans", Arial, sans-serif;
}

.main {
  margin-left: auto;
  margin-right: auto;
}
.main .background-block-1 {
  background-color: #b44d4f;
  width: 100%;
  position: relative;
}
.main .background-block-1 .background-image-1 {
  width: 50%;
  border: 2px solid yellow;
  text-align: center;
  align-self: flex-end;
}
.main .background-block-1 .background-image-1 img {
  width: 65%;
  display: inline-block;
  border: 2px solid green;
}
.main .background-block-1 .logo {
  width: 100%;
  border: 2px solid deepskyblue;
  position: absolute;
}
.main .background-block-1 .logo .logo-font {
  width: 350px;
  height: 143px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  background-image: url(img/method-draw-image.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}
.main .background-block-1 .logo .logo-font .ahoodie {
  font-family: "selimaregular", Arial, sans-serif;
  font-size: 70px;
  color: #fff977;
  text-align: center;
  transform: rotate(-4deg);
  height: 60px;
}
.main .background-block-1 .logo .logo-font .net {
  position: absolute;
  font-family: "Open-Sans", Arial, sans-serif;
  font-size: 30px;
  color: #fff977;
  padding-left: 45%;
  position: relative;
}
.main .background-block-2 {
  background-color: #fff577;
  width: 100%;
  position: relative;
  padding: 10px 0;
}
.main .background-block-2 .content {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
  height: auto;
  width: auto;
}
.main .background-block-2 .content .column {
  align-self: center;
}
.main .background-block-2 .photo {
  background-color: #1c4c55;
  border: 10px solid #266974;
  margin: 10px 0;
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 1250px) {
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 95%;
    padding: 0;
    height: auto;
    width: auto;
  }
  .content .column1 {
    order: -10;
  }
  .content .colimn2 {
    order: 2;
  }
  .content .column3 {
    order: 3;
  }
  .content .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
  .content .column .photo {
    width: 90%;
    height: auto;
  }
  .content .column .photo img {
    width: 100%;
  }
  .content .column .photo-large {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
  }
  .content .column .photo-large img {
    width: 100%;
  }
}