
.head {
    
    background-color: #266974;
    height:50%;
    width: 100%;
    padding: 0px;
    position: relative;
    z-index: 999;
    
}

body {
    background-image: url(img/Background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.menu {
    visibility: visible;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    border: 2px solid red;
    .burger{
        width: 90px;
        height: 90px;
        display: none;
        margin: auto;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        border: 2px solid red;
        left: 0px;
      }
    .burger > span{
        display: block;
        position: relative;
        width: 90%;
        height: 10px;
        margin: 15px auto;
        background-color: #fff577;
        border-radius: 10px;
      }
      
    .burger > span#sp1{
        transition: all .3s .5s;
      }
      
    .burger > span#sp2{
        transition: all .3s .3s;
      }
      
    .burger > span#sp3{
        transition: all .3s .1s;
      }
      
    .burger.active > span#sp1{
        width: 90%;
        height: 90%;
        margin: 5px auto;
        transition: all .3s .1s;
      }
      
    .burger.active > span#sp2{
        background-color: #266974;
        transform: translateY(-60px) rotateZ(45deg);
        transition: all .3s .3s;
      }
      
    .burger.active > span#sp3{
        background-color: #266974;
        transform: translateY(-85px) rotateZ(-45deg);
        transition: all .3s .5s;
      }
    .logo {
        display: none;
        .logo-font {
            display: none;
        }
    }
    .menu--links {
        background-color: #266974;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        .menu--logo {      
            border-radius: 50%;
            height: 150px;
        }
        li {
            width: 150px;       
            display: flex;
            align-items: center;
            justify-content: center;
            a {          
                text-decoration: none;
                color: #fff577;
                font-weight: 600;
                font-size: 25px;
                font-family: "Open-Sans", Arial, sans-serif;
            }
        }
    } 
}




.main {
    margin-left: auto;
    margin-right: auto;    
    .background-block-1 {
        background-color: #b44d4f;
        width: 100%;
        position: relative;
        .background-image-1 {
            width: 50%;
            border: 2px solid yellow;
            text-align: center;
            align-self: flex-end;
            img {
                width: 65%;
                display: inline-block;
                border: 2px solid green;
            }    
        }
        .logo {
            width: 100%;
            border: 2px solid deepskyblue;
            position: absolute;
        } 
    }    
    .background-block-2 {   
        background-color: #fff577;  
        width: 100%;
        position: relative; 
        display: flex;
        justify-content: center;

        .content {
            width: 100%;
            display: flex;
            flex-direction: row;
            
            flex-wrap: wrap;
            justify-content: space-between;
            border: 2px solid green;
            .column {
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 25%;
                border: 2px solid red;
                .photo {
                    background-color: #1c4c55;
                    border: 10px solid #266974;
                    margin-bottom: 10px;
                    height: 50%;
                    width: 100%;
                    img {
                        vertical-align: middle;
                    }
                }
            }
            .column1 {
                width: 50%;
                padding: 0;
                .photo-large {
                    width: 100%;
                    border: 2px solid red;
                    img {
                        width: 100%;
                        vertical-align: middle;
                    }
                }
            }    
        }    
    }     
}
@media screen and (max-width: 1024px)
              and (min-width: 768px) {
    .main {
        .background-block-2 {
            .content {
                flex-direction: row;
                flex-direction: center;
                align-items: center;
                .column {
                    width: 50%;
                }
                .column1 {
                    order: -1;
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }
}      
@media screen and (max-width: 768px)
              and (min-width: 320px) {
    .menu {
        width: 100%;
        .menu--links {
            display: none;
        }
        .burger {
            display: inline-block;
            margin: 10px;
        }
        .logo {
            width: 100%;
            border: 2px solid deepskyblue;
            position: absolute;
            display: inline-block;
            img {
                width: 100%;
                height: 110px;
                display: flex;
                justify-self: center;
                align-self: center;
            }
        } 
    }             
    .main {
        .background-block-2 {
            .content {
                flex-direction: row;
                flex-direction: center;
                align-items: center;
                .column {
                    width: 100%;
                }
                .column1 {
                    order: -1;
                    padding: 10px;
                }
            }
        }
    }
}         

    
