.head {
  background-color: #266974;
  height: 50%;
  width: 100%;
  padding: 0px;
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
}

body {
  background-image: url(img/Background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu-toggle {
  display: none;
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  border: 1px solid #fff577;
  cursor: pointer;
  position: relative;
}
.menu-toggle .hamburger, .menu-toggle .cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-toggle .hamburger span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  overflow: hidden;
  position: relative;
}
.menu-toggle .hamburger span:last-child {
  margin: 0;
}
.menu-toggle .hamburger span:before, .menu-toggle .hamburger span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff577;
  transform: translateX(-200%);
  transition: transform ease 300ms;
}
.menu-toggle .hamburger span:after {
  transform: translateX(0);
}
.menu-toggle .hamburger span:nth-child(2):before, .menu-toggle .hamburger span:nth-child(2):after {
  transition-delay: 75ms;
}
.menu-toggle .hamburger span:last-child:before, .menu-toggle .hamburger span:last-child:after {
  transition-delay: 150ms;
}

.menu-toggle:hover .hamburger span:before {
  transform: translateX(0);
}
.menu-toggle:hover .hamburger span:after {
  transform: translateX(200%);
}

.cross span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff577;
  transform: translateY(50%) rotate(45deg) scaleX(0);
  transition: transform ease 200ms;
}
.cross span:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(0);
}

.menu-toggle.active .hamburger span:before {
  transform: translateX(100%);
}
.menu-toggle.active .hamburger span:after {
  transform: translateX(200%);
}
.menu-toggle.active .cross span {
  transition-delay: 450ms;
  transform: translateY(50%) rotate(45deg) scaleX(1);
}
.menu-toggle.active .cross span:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(1);
}

.menu {
  visibility: visible;
  width: 80%;
}
.menu .logo.red {
  display: none;
}
.menu .menu--links {
  background-color: #266974;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.menu .menu--links .menu--logo {
  border-radius: 50%;
  height: 150px;
}
.menu .menu--links li {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu--links li a {
  text-decoration: none;
  color: #fff577;
  font-weight: 600;
  font-size: 25px;
  font-family: "Open-Sans", Arial, sans-serif;
}

.main {
  margin-left: auto;
  margin-right: auto;
}
.main .background-block-1 {
  background-color: #b44d4f;
  width: 100%;
  display: flex;
  position: relative;
}
.main .background-block-1 .background-image-1 {
  width: 50%;
  height: 100%;
  text-align: center;
  align-self: center;
  display: inline-block;
}
.main .background-block-1 .background-image-1 img {
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.main .background-block-1 .text {
  border-left: 5px solid #fff577;
  z-index: 3;
  margin: 10%;
  width: 40%;
  height: 100%;
  justify-self: center;
  color: #fff577;
  font-weight: 500;
  font-size: 2em;
  font-family: "Open-Sans", Arial, sans-serif;
  line-height: 1, 5em;
  padding: 1%;
  align-self: center;
}
.main .background-block-1 .logo-container-blue {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  z-index: 0;
}
.main .background-block-1 .logo-container-blue .logo-blue {
  width: 40%;
  position: absolute;
}
.main .background-block-1 .logo-container-blue .logo-blue img {
  width: 100%;
  justify-self: center;
}
.main .background-block-2 {
  background-color: #fff577;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.main .background-block-2 .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .background-block-2 .content .column {
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.main .background-block-2 .content .column .photo {
  background-color: #1c4c55;
  border: 10px solid #266974;
  margin-bottom: 10px;
  height: 50%;
  width: 100%;
}
.main .background-block-2 .content .column .photo img {
  vertical-align: middle;
}
.main .background-block-2 .content .column1 {
  width: 50%;
  padding: 0;
}
.main .background-block-2 .content .column1 .photo-large {
  width: 100%;
}
.main .background-block-2 .content .column1 .photo-large img {
  width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .main .background-block-2 .content {
    flex-direction: row;
    flex-direction: center;
    align-items: center;
  }
  .main .background-block-2 .content .column {
    width: 50%;
  }
  .main .background-block-2 .content .column1 {
    order: -1;
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) and (min-width: 320px) {
  .head {
    max-height: 60px;
    padding: 0;
    display: flex;
  }

  .menu {
    width: 200vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .menu .menu--links {
    display: none;
  }
  .menu .menu-toggle.empty {
    display: block;
    order: 2;
    margin: 10px;
    visibility: hidden;
  }
  .menu .menu-toggle {
    display: block;
    order: -1;
    margin: 10px;
    justify-self: start;
  }
  .menu .logo-container.red {
    height: 60px;
    display: flex;
    width: 100%;
    order: 1;
  }
  .menu .logo-container.red .logo.red {
    width: 100%;
    display: inline-block;
    transform: scale(0.8);
    height: inherit;
  }
  .menu .logo-container.red .logo.red img {
    height: inherit;
    width: 100%;
  }

  .main .background-block-1 {
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
  }
  .main .background-block-1 .text {
    font-size: 1em;
    width: 100%;
    padding: 10px;
  }
  .main .background-block-1 .logo-container-blue {
    position: relative;
    width: 100%;
  }
  .main .background-block-1 .logo-container-blue .logo-blue {
    width: 50%;
    position: relative;
    justify-self: center;
  }
  .main .background-block-1 .logo-container-blue .logo-blue img {
    width: 100%;
    justify-self: center;
  }
  .main .background-block-1 .background-image-1 {
    width: 50%;
    display: flex;
    align-items: center;
    position: absolute;
  }
  .main .background-block-2 .content {
    flex-direction: row;
    flex-direction: center;
    align-items: center;
  }
  .main .background-block-2 .content .column {
    width: 100%;
  }
  .main .background-block-2 .content .column1 {
    order: -1;
    padding: 10px;
  }
}