.head {
  background-color: #266974;
  height: 50%;
  width: 100%;
  padding: 0px;
  position: relative;
  z-index: 999;
}

body {
  background-image: url(img/Background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu {
  visibility: visible;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
}
.menu .burger {
  width: 90px;
  height: 90px;
  display: none;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: 2px solid red;
  left: 0px;
}
.menu .burger > span {
  display: block;
  position: relative;
  width: 90%;
  height: 10px;
  margin: 15px auto;
  background-color: #fff577;
  border-radius: 10px;
}
.menu .burger > span#sp1 {
  transition: all 0.3s 0.5s;
}
.menu .burger > span#sp2 {
  transition: all 0.3s 0.3s;
}
.menu .burger > span#sp3 {
  transition: all 0.3s 0.1s;
}
.menu .burger.active > span#sp1 {
  width: 90%;
  height: 90%;
  margin: 5px auto;
  transition: all 0.3s 0.1s;
}
.menu .burger.active > span#sp2 {
  background-color: #266974;
  transform: translateY(-60px) rotateZ(45deg);
  transition: all 0.3s 0.3s;
}
.menu .burger.active > span#sp3 {
  background-color: #266974;
  transform: translateY(-85px) rotateZ(-45deg);
  transition: all 0.3s 0.5s;
}
.menu .logo {
  display: none;
}
.menu .logo .logo-font {
  display: none;
}
.menu .menu--links {
  background-color: #266974;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.menu .menu--links .menu--logo {
  border-radius: 50%;
  height: 150px;
}
.menu .menu--links li {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu--links li a {
  text-decoration: none;
  color: #fff577;
  font-weight: 600;
  font-size: 25px;
  font-family: "Open-Sans", Arial, sans-serif;
}

.main {
  margin-left: auto;
  margin-right: auto;
}
.main .background-block-1 {
  background-color: #b44d4f;
  width: 100%;
  position: relative;
}
.main .background-block-1 .background-image-1 {
  width: 50%;
  border: 2px solid yellow;
  text-align: center;
  align-self: flex-end;
}
.main .background-block-1 .background-image-1 img {
  width: 65%;
  display: inline-block;
  border: 2px solid green;
}
.main .background-block-1 .logo {
  width: 100%;
  border: 2px solid deepskyblue;
  position: absolute;
}
.main .background-block-2 {
  background-color: #fff577;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.main .background-block-2 .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid green;
}
.main .background-block-2 .content .column {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  border: 2px solid red;
}
.main .background-block-2 .content .column .photo {
  background-color: #1c4c55;
  border: 10px solid #266974;
  margin-bottom: 10px;
  height: 50%;
  width: 100%;
}
.main .background-block-2 .content .column .photo img {
  vertical-align: middle;
}
.main .background-block-2 .content .column1 {
  width: 50%;
  padding: 0;
}
.main .background-block-2 .content .column1 .photo-large {
  width: 100%;
  border: 2px solid red;
}
.main .background-block-2 .content .column1 .photo-large img {
  width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .main .background-block-2 .content {
    flex-direction: row;
    flex-direction: center;
    align-items: center;
  }
  .main .background-block-2 .content .column {
    width: 50%;
  }
  .main .background-block-2 .content .column1 {
    order: -1;
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-device-width: 768px) and (min-width: 320px) {
  .menu {
    width: 100%;
  }
  .menu .menu--links {
    display: none;
  }
  .menu .burger {
    display: inline-block;
    margin: 10px;
  }
  .menu .logo {
    width: 100%;
    border: 2px solid deepskyblue;
    position: absolute;
    display: inline-block;
  }
  .menu .logo img {
    width: 100%;
    height: 110px;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .main .background-block-2 .content {
    flex-direction: row;
    flex-direction: center;
    align-items: center;
  }
  .main .background-block-2 .content .column {
    width: 100%;
  }
  .main .background-block-2 .content .column1 {
    order: -1;
    padding: 10px;
  }
}